body{
  background-color: #f7f7f7;

}
*{
  margin: 0;
  padding: 0;
}
.container{
  width: 35%;
  margin: 0 auto;

}
.main-box{
  margin: 20px 40px 40px;
}
.balance{
  margin:15px;
  text-align: center;
}
.balance h2{
  font-size: 40px;
}
.line-seperator{
  border: 1px solid skyblue;
}
.income-expense-box{
  background-color: white;
  box-shadow: 0 0 10px gainsboro;
  padding: 10px 15px;
  display: flex;
  justify-content: space-around;


}
.main-history{
  margin-top: 10px;
}
.main-history h3{

  padding: 10px 0px;
}
.main-history ul > li{
  display: flex;
  list-style: none  ;
  justify-content: space-between;
  padding: 5px 25px;
  margin: 10px 0px;
  position: relative;
 }
 .main-history ul > li p{
font-size: 22px;
font-weight: 600;
 }
 .form h2{
  margin: 10px 0px;
 }
.form form label input {
  width: 95%;
  border-radius: 5px;
  padding: 10px;
  margin: 8px 0px;
  /* border: green; */
  border: 1px solid deepskyblue;
}
.btn{
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: deepskyblue;
  color: white;
  border: none;
  border-radius: 5px;
}
.btn:hover{
  cursor: pointer;
  box-shadow: 0 0 10px skyblue;
}
.text-center {
  text-align: center;
}
.delet-btn{
  padding: 5px 8px;
  position: absolute;
  right: -7px;
  background-color: red;
  border: none;
  border-radius: 20px;
  top: -8px;
}
.delet-btn:hover{
  cursor: pointer;
  box-shadow: 0 0 5px rgb(255, 114, 114);
}

@media (max-width:768px){
  .container{
  width: 70%;
  }
}
@media (max-width:414px){
  .container{
  width: 90%;
  }
  header h1{
    font-size: 22px;
  }
}
@media (max-width:320px){
  .container{
  width: 100%;
  }
  header h1{
    font-size: 22px;
  }
}

@media (max-width:280px){
  .container{
  width: 100%;
  }
  header h1{
    font-size: 18npx;
  }
  .main-box {
    margin: 20px 20px 40px;
  }
}